@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">A fake place to fake rate fake restaurants.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Where am I? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on navbar link to rate a fake restaurant.
        </p>
        <p><a class="btn btn-default" href=" /Restaurant/Index">Rate A Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>More info about Restaurant Rater.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Rate a Rater Rating A Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Send a message directly to my spam!</h2>
        <p>If you want to know more about the API or have comments/concerns feel free to a leave a message I will 100% ignore and will never read.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Write a pointless comment &raquo;</a></p>
    </div>
</div>